<ul class="tab-bar">
    <li [ngClass]="activeSubject==='OS301' ? 'darkchecked' : ''" data-num="1" class="maths dark" (click)="activateSubject('OS301')">Математика</li>
    <li [ngClass]="activeSubject==='OS302' ? 'darkchecked' : ''" data-num="5" class="language dark" (click)="activateSubject('OS302')">Српски језик</li>
    <div class="indicator" #indicator></div>
</ul>

<div class="root">
    <div class="overlay" *ngIf="showPicture || showPdf" (click)="hidePicture()">
        <img class="transit" #pictureDiv [src]="srcImgSummary">
        <iframe class="transit" *ngIf="showPdf" width="70%" height="80%" [src]="summaryPdf | safe"></iframe>
    </div>

    <div class="types">
        <div class="typeItem" *ngIf="summaryPdf">
            <input type="radio" id="summary" name="type" (click)="showPlan()" [checked]="summaryActive">
            <div>
                <label for="summary">Цео план</label>
            </div>
        </div>
        <div class="typeItem" *ngFor="let class of onlySubjectClasses; let ind=index">
            <input *ngIf="onlySubjectClasses[ind].classSummaryImgUrl" type="radio" [id]="class._id" name="type" (click)="showImageInCenter(class.classNumber, ind)" [checked]="isActive[ind]">
            <div>
                <label [for]="class._id">Час {{class.classNumber}}</label>
            </div>
        </div>
    </div>
</div>
