<div class="form sign-in">
    <h2>{{ login_main_label }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <label>
      <span id="span_username" [ngStyle]="{ color: required_username ? 'red' : 'black' }">{{ loginAlerts.username_label }}</span>
      <input type="username" formControlName="username">
    </label>
    <label>
      <span id="span_password" [ngStyle]="{ color: required_password ? 'red' : 'black' }">{{ loginAlerts.password_label }}</span>
      <input type="password" formControlName="password">
    </label>
    <button type="submit" class="submit" id="loginButton">{{ login_main_label }}</button>
  </form>
    <p class="forgot-pass">{{password_reset}}</p>
    <div class="error_div" id="error_div">{{ loginAlerts.error_label }}</div>
  </div>