<app-login-register (isStudentEvent)="readValue($event)" *ngIf="user === null">
</app-login-register>
<app-student *ngIf="user !== null && user.teachername"></app-student>
<app-teacher *ngIf="user !== null && (user.teachername === null || user.teachername === '')"></app-teacher>
