<div class="main_div">
<nav>
    <div class="time">{{liveTime()}}</div>
    <div class="menu">
      <input type="radio" name="menu" id="dnevnik" (click)="changeActiveTab(0)">
      <label for="dnevnik"><i class="side-menu"></i>Дневник</label>
      <input type="radio" name="menu" id="plan" (click)="changeActiveTab(1)" checked>
      <label for="plan"><i class="side-menu"></i>План рада</label>
      <input type="radio" name="menu" id="test" (click)="changeActiveTab(2)">
      <label for="test"><i class="side-menu"></i>Тестови</label>
      <input type="radio" name="menu" id="profil" (click)="changeActiveTab(3)">
      <label for="profil"><i class="side-menu"></i>Профил</label>
      <input type="radio" name="menu" id="logout">
      <label for="logout" (click)="viewPopup($event)"><i class="side-menu"></i>Одјава</label>
    </div>
  </nav>
  <div class="navigated">
        <header>
          <div class="pad">
            <label for="pad"><i class="side-menu"></i></label>
          </div>
        </header>
        <div>
        <div [class] ="getTabActiveStatus(0)">
                <app-registrator [username]="user!.username"></app-registrator>
            </div>
            <div [class] ="getTabActiveStatus(1)">
                <app-scheduler></app-scheduler>
            </div>
            <div [class] ="getTabActiveStatus(2)">
                <app-teacher-tests></app-teacher-tests>
            </div>
            <div [class] ="getTabActiveStatus(3)">
                <app-teacher-profile [teacherInfo] = "user"></app-teacher-profile>
            </div>
        </div>
  </div>
</div>

<div class="iskacilo" (click)="cancelLogOut($event)" [ngClass]="is_visible ? 'is-visible' : 'none'" role="alert" #popup>
	<div class="cd-popup-container">
		<p>Да ли заиста желите да се одјавите?</p>
		<ul class="cd-buttons cd-popup-style">
			<li><a (click)="logout()">ДА</a></li>
			<li><a (click)="cancelLogOut($event, 2)">НЕ</a></li>
		</ul>
		<a class="cd-popup-close img-replace" (click)="cancelLogOut($event)">Close</a>
	</div>
</div>