::ng-deep body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #013220;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(../../assets/5.webp);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Nunito', sans-serif;
  }

  label.caption {
    position: relative;
    margin-left: 0px;
    margin-top: 50px;
    color: white;
    display: block;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 68px;
    width: 1400px;
    font-weight: 1000;
    text-shadow: 2px 2px 4px white;
  }

  .radio_div {
    position: absolute;
    display: inline;
    align-items: center;
    margin-top:-50px;
    margin-left: 200px;
  }

  .student_button {
    position: absolute;
    margin-left: 50px;
    margin-top:100px;
    height: 50px;
    background: #003628;
  }
  
  .teacher_button {
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
    height: 50px;
    background: #003628;
  }
  
  input[type=radio] {
    position: absolute;
    left: -1000px;
    opacity: 0;
  }
  
  input[type=radio] + label {
    cursor: pointer;
    line-height: 50px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  input[type=radio] + label:hover {
    background-color: rgba(0, 0, 0, 0.22);
  }
  
  input[type=radio] + label .side-menu {
    font-size: 2em;
    display: block;
    width: 448px;
  }
  
  input[type=radio]:checked + label {
    width: 100%;
    background-color: #036440;
    box-shadow: 0 1px 0 0 white inset, 1px 0 0 0 white inset, -1px 0 0 0 white inset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .cont {
    margin-top: 100px;
    margin-left:250px;
    overflow: hidden;
    position: absolute;
    width: 898px;
    height: 70vh;
    background: #036440;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #036440;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }
  
  .cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
            transform:translate3d(-640px, 0, 0);
  }

  .img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  
  .img::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background: #003628;
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
  .cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 10px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  .cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }

  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 150px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img-btn::after{
    box-sizing: border-box;
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 30px;
  }
  
  .img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }