.temp
{
    background-color: #f7fdc3;
    width: 1030px;
    height: 1000px;
    box-shadow: 5px 10px 10px 5px #085f63;
    margin-top: 43px;
    margin-left: 690px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}