<div class="form sign-up">
    <h2>Регистрација</h2>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <label>
      <span id="span_fullname" [ngStyle]="{ color: required_fullname ? 'red' : 'black' }">{{ registerAlerts.fullname_label }}</span><br>
      <input type="text" formControlName="fullname"><br>
    </label>
    <label>
      <span id="span_username" [ngStyle]="{ color: required_username ? 'red' : 'black' }">{{ registerAlerts.username_label }}</span><br>
      <input type="text" formControlName="username"><br>
    </label>
    <label *ngIf="isStudent"> 
      <span id="span_teacher_name" [ngStyle]="{ color: required_teachername ? 'red' : 'black' }">{{ registerAlerts.teachername_label }}</span><br>
      <input type="text" formControlName="teachername"><br>
    </label>
    <div id="grade" *ngIf="isStudent">
      <label class="grade">
        <span [ngStyle]="{ color: required_grade ? 'red' : 'black' }">{{ registerAlerts.grade_label }}</span><br>
      </label>
      <div class="select">
        <select formControlName="grade">
          <option hidden disabled selected value> -- Изабери разред -- </option>
          <option value="1">Први</option>
          <option value="2">Други</option>
          <option value="3">Трећи</option>
          <option value="4">Четврти</option>
        </select>
      </div>
  </div>
    <label>
      <span id="span_email" [ngStyle]="{ color: required_email ? 'red' : 'black' }">{{ registerAlerts.email_label }}</span><br>
      <input type="email" formControlName="email"><br>
    </label>
    <label>
      <span id="span_password" [ngStyle]="{ color: required_password ? 'red' : 'black' }">{{ registerAlerts.password_label }}</span><br>
      <input type="password" name = "password" formControlName="password"><br>
    </label>
    <button type="submit" class="submit" id="registerButton">{{ register_button }}</button>
    </form>
    <div class="error_div">{{ registerAlerts.error_label }}</div>
  </div>