.field
{ 
    width: 20px;
    height: 14px;
    border: 3px black solid;
}

#classNum {
    font-size: 18px;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1.9px solid black;
    border-radius: 80px;
    margin-left: 16px;
}

.radioValue {
    font-size: 18px;
}

.taskNumberDiv {
    margin-top: 25px;
}

.sentTestButton {
    margin-top: 10px;
    margin-left: 2vw;
    width: 150px;
    height: 35px;
    font-size: 14px;
    border-radius: 8px;
    background-color: bisque;
}

.sentTestButton:hover {
    box-shadow: 0px 15px 25px -5px lightgoldenrodyellow;
    transform: scale(1.03);
    background: bisque;
    border: 3px solid lightsalmon ;
}

span
{
    font-size: 28px;
    padding: 10px;  
}

.tests
{
    margin-top: 10px;
    display: inline-block;
}

.answer
{
    display: flex;
}


.answers
{
    display: block;
}

.container
{
    margin-left: 20px;
}