<div class="container">

    <div *ngFor="let tests of unsubmitedTests">
        <button (click)="showTest(tests)">test</button>
    </div>
    <div class="test" *ngIf="testTemplate.length !== 0">
        <br/>
        <div class="task" *ngFor="let task of testTemplate; let i = index">
            <div class="taskNumberDiv">
                <label id="classNum">{{i+1}}. Упореди дате бројеве:</label>
             </div>
            <div *ngFor="let token of task.tokens">
                <span *ngIf="token.type === 0">{{token.value}}</span>
                <div class="circle" *ngIf="token.type === 1"></div>
                <div *ngIf="token.type === 3">
                    <input type="radio" name="i" (change) = "change(token,i)">
                    <label class="radioValue" for="i">{{token.value}}</label>
                </div>
            </div>
        </div>
        <button class="sentTestButton" (click)="submitTest()">ПОШАЉИ ТЕСТ</button>
    </div>
</div>